@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
        Male
        <input class="form-check-input2" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            female
            <input class="form-check-input" type="checkbox" value="" id="valittuIka">
            <label class="form-check-label" for="flexCheckDefault">
                Lapsi
                <input class="form-check-input2" type="checkbox" value="" id="valittuIka">
                <label class="form-check-label" for="flexCheckDefault">
                    Nuori
                    <input class="form-check-input2" type="checkbox" value="" id="valittuIka">
                    <label class="form-check-label" for="flexCheckDefault">
                        Aikuinen
</div>

<button type="submit" class="btn btn-primary">Generate Name</button>
</div>

@if (!string.IsNullOrEmpty(Model.GeneratedName))
{
    <p>Your random name is: <strong>@Model.GeneratedName</strong></p>
}